
/*
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/


/* home page css */
header {
    display: flex;
}

.nav {
    flex: 1;
    padding: .5rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: left;
    border-right: 2px solid black;
}

.nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    flex: 2;
    padding: .5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

p {
    font-size: 1.25rem;
    max-width: 600px;
    line-height: 1.6;
}


/*Sell Page*/

.sell-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* forms */
form {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 8px;
}

form label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  gap: .5rem;
}

form input,
form textarea,
form select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

form textarea {
  resize: vertical;
  min-height: 120px;
}

form button {
  margin-top: 1rem;
  padding: .75rem;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
}

form button:hover {
  background-color: #333;
}

