/* home page css */
header {
    display: flex;
}

.nav {
    flex: 1;
    padding: .5rem;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: left;
    border-right: 2px solid rgb(2, 0, 58);
}

.nav a {
    text-decoration: none;
    color: rgb(2, 0, 58);
    font-size: 1rem;
}

.nav a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    flex: 2;
    padding: .5rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(2, 0, 58)
}

h2 {
  color: rgb(12, 10, 72);
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
}

/*Home page*/

.category-section{
  max-width: 1200px;
  margin: 3rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  border: 2px solid rgb(12, 10, 72);
  border-radius: 8px;
}

.category-name {
  flex: 1;
  text-align: center;
  background-color: rgb(0, 48, 6);
  padding: 9rem 1rem;
  margin-left: 1rem;
  color: white;
  border-radius: 8px;
}

.category-name h2,
.category-name Link {
  color: white
}



.category-items {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  flex: 2;
  display: flex;
  gap: 2rem;
}

.category-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(12, 10, 72);
  transition: transform 0.2s ease;
}

.category-item:hover {
  transform: translateY(-10px);
  text-decoration: underline;
}

.category-img {
  width: 250px;
  height: 250px;
  object-fit: cover; 
  border-radius: 8px;
}

.view-all-link {
  text-decoration: none;
  font-weight: 500;
  color: #555;
}

.view-all-link:hover {
  text-decoration: underline;
}



/* home page featured items */
.featured {
  padding: 2rem 1rem;
  text-align: center;
}

.featured-items {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.featured-item {
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: rgb(12, 10, 72);
}

.featured-item:hover {
  transform: translateY(-10px);
  text-decoration: underline;
}

.featured image {
  border-radius: 8px;
  object-fit: cover;
}

.featured-item h3 {
  margin-top: 1rem;
  text-decoration: none;
}

.featured-item p {
  margin-top: .5rem;
  font-size: 1.1rem;
}

/* hero section */
.hero-wrapper {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 500px;
}

.hero-img {
  object-fit: cover;
}

.hero-text { 
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 50% ;
  background-color: white;
  width: 60%;
  margin: 0 auto;
  color: rgb(12, 10, 72);
  padding: 1rem;
  border-radius: 8px;
}

.browse-link {
  text-decoration: none;
  color: white;
  background-color: rgb(12, 10, 72);
  padding: .7rem;
  border-radius: 5px;
}

/* browse page*/
.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 8px;
    background-color: rgb(12, 10, 72);
}

.item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* product cards */
.product-grid ,
.browse-items{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: .5rem;
  list-style: none;
}

.card,
.browse-item {
  background: white;
  border: 2px solid rgb(12, 10, 72);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(12, 10, 72);
}

.product-details {
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.description {
  font-size: 1.1rem;
  color: rgb(12, 10, 72);
}

.price {
  font-weight: bold;
}

.category {
  font-size: 1rem;
  color: rgb(12, 10, 72);
}

.browse-item-link {
  text-decoration: none;
  color: inherit; 
}

.browse-item-link:hover {
  text-decoration: underline; 
}

/* sell page links*/
.sell-link,
.messages-link {
  margin: 1rem ;
}

/*Delete button*/
.form-delete {
  all:unset;
  display: inline-block;
}
.delete-button {
  background-color: rgb(0, 48, 6);
  color: white;
  border: none;
  padding: .5rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 1rem 0;
}

.delete-button:hover {
  background-color: rgb(6, 100, 19);
}


/* product details page */
.product-detail-page {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.product-image {
  border-radius: 10px;
  object-fit: cover;
  max-width: auto;
  max-height: 500px;
}

.product-info {
  text-align: center;
  border-bottom: 1px solid rgb(12, 10, 72);
  padding-bottom: 1rem;
}

.product-info .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.product-info .description,
.product-info .price,
.product-info .category {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buy,
.back-link,
.seller-link {
  padding: 1rem 1.5rem;
  text-decoration: none;
  background-color: rgb(12, 10, 72);
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
}

.back-link,
.seller-link {
  background-color: rgb(12, 10, 72);
}

.buy:hover,
.seller-link:hover,
.back-link:hover {
  background-color: #333;
}

.seller-product-card {
  text-decoration: none;
  color: inherit;
}

.seller-product-card:hover {
  text-decoration: underline;
}

.product-details p,
.title {
  color:rgb(2, 0, 58);
  text-decoration: none;
}

/*seller bio section*/
.seller-bio-section {
  width: 100%;
  margin: 2rem 0;
}
.seller-bio-section form {
  width: 100%;
}

.seller-bio-section textarea {
  width: 100%;
  min-height: 200px;
  padding: .5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid rgb(12, 10, 72);
  resize: vertical;
  box-sizing: border-box; 
}

.product-head {
  margin: 2rem 0;
}

.seller-public-bio {
  margin: 1rem;
  background-color: rgb(0, 48, 6);
  color: white;
  border-radius:8px;
  padding: 1rem 2rem;
}


/*Sell Page*/

.sell-page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* buy form */
.buy-section{
  margin: 1rem auto;
  max-width: 1000px;
}

.buy-form {
  width: 100%;
  max-width: 1000px;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid rgb(12, 10, 72);
  padding: 1rem;
  border-radius: 8px;
}

/* forms */
.login-form,
.register-form,
.sell-form {
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid rgb(12, 10, 72);
  padding: 1rem;
  border-radius: 8px;
}

form label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: .8rem;
  gap: .5rem;
}

form input,
form textarea,
form select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgb(12, 10, 72);
  border-radius: 4px;
}

form textarea {
  resize: vertical;
  min-height: 120px;
}

.buy-form button,
.login-form button,
.register-form button,
.sell-form button,
.comment-button,
.sell-link,
.messages-link,
.seller-bio-section button {
  margin-top: 1rem;
  padding: .75rem;
  font-size: 1rem;
  background-color: rgb(12, 10, 72);
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
}

.seller-bio-section button {
  color: white;
  background-color:rgb(0, 48, 6);
}

.login-form button:hover,
.register-form button:hover,
.sell-form button:hover,
.search-form button:hover,
.comment-button:hover,
.sell-link:hover,
.messages-link:hover,
.seller-bio-section button:hover {
  background-color: #333;
}

.seller-bio-section button:hover {
  color: white;
  background-color: rgb(6, 100, 19);
}

/*search bar filters */
.search-form {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center ;
}

.search-form button {
  padding: .1rem;
  color: white;
  background-color: rgb(12, 10, 72);
  padding: .5rem;
  border-radius: 5px;
}

.search {
  padding: .5rem;
  border: 1px solid rgb(12, 10, 72);
  border-radius: 5px;
  width: 200px;
}

.category-select {
  display: block;
  margin: .5rem auto;
  padding: .5rem;
  border: 1px solid rgb(12, 10, 72);
  border-radius: 5px;
  background-color: white;
}


/*comments section*/
.comments-section {
	margin: 1rem auto;
  max-width: 1000px;
  justify-content: center;
  border-top: 1px solid rgb(12, 10, 72);
}

.comments-list{
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 1.5rem;
	list-style: none;
	padding: 0;
  margin: 0 auto;
	margin-bottom: 2rem;
  justify-content: center;
}

.comment-card {
  background-color: white;
  border: 2px solid rgb(12, 10, 72);
  border-radius: 8px;
  padding: 1rem;
  text-align: left;
}

.comment-user {
  font-weight: bold;
  margin-bottom: .5rem;
}

.comment-text {
  font-size: 1rem;
  color: rgb(12, 10, 72);
}


@media (max-width: 800px) {
  .product-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .image-wrapper,
  .product-container,
  .image-container {
    width: 100%;
    height: auto;
  }

  header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
  }

  /* home page category section*/
  .category-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .category-items {
    flex-direction: column;
    gap: 1rem;
  }

  .category-name {
    padding: 1rem;
    width: 80%;
    text-align: center;
  }

  .category-item {
    width: 100%;
  }

  .image-card {
    margin: .5rem;
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .featured-items img {
    width: 100%;

  }
}